<div>
	<div class="page-header">
		<div class="pull-right" ng-include="'buttons.html'"></div>
		<h1>
			<button type="button" class="btn btn-default" ui-sref="admin">
				<span class="glyphicon glyphicon-arrow-left"></span>
			</button>
			Edit a Person
		</h1>
	</div>
	<form name="profileForm">
		<profile-form
			profile-countries="countries"
			profile-languages="languages"
			profile-show-help="false"
			profile-show-left-staff="true"
			ng-model="profile">
		</profile-form>
	</form>
	<div class="row">
		<div class="col-sm-12">
			<div class="pull-right" ng-include="'buttons.html'"></div>
		</div>
	</div>
	<script type="text/ng-template" id="buttons.html">
		<div class="form-actions">
			<button type="button"
					class="btn btn-default"
					ng-if="profileForm.$dirty"
					ng-click="resetForm()">Cancel
			</button>
			<button type="button"
					class="btn btn-primary"
					ng-disabled="profileForm.$invalid"
					ng-click="saveChanges()">Save Changes
			</button>
		</div>
	</script>
</div>
