# Composer
composer.phar
vendor/

# WebStorm, PHPStorm
.idea/

# Project
config/config.php
dist/
src/languages/*.po

#Node (npm) / gulp
node_modules/
onesky.json

#Bower
src/bower_components/

# Gulp build
.tmp/
