<div id="profile" class="container">
	<div class="page-header">
		<div class="pull-right" ng-include="'buttons.html'"></div>
		<h1 translate>Edit your Profile</h1>
	</div>
	<form name="profileForm">
		<profile-form
			ng-model="profile"
			profile-ministries="ministries"
			profile-languages="languages"
			profile-countries="countries"
			current-ministry="ministry">
		</profile-form>
	</form>
	<div class="row">
		<div class="col-sm-12">
			<div class="pull-right" ng-include="'buttons.html'"></div>
		</div>
	</div>
	<script type="text/ng-template" id="buttons.html">
		<div class="form-actions">
			<button type="button"
					class="btn btn-default"
					ng-disabled="profileForm.$pristine || isSaving"
					ng-click="resetForm()"
					translate>Cancel
			</button>
			<button type="button"
					class="btn btn-primary"
					ng-disabled="profileForm.$invalid || isSaving"
					ng-click="saveChanges()"
					translate>Save Changes
			</button>
		</div>
	</script>
</div>
