<div id="profile" class="container">
	<div class="page-header">
		<div class="pull-right" ng-include="'buttons.html'"></div>
		<h1>Edit your Profile</h1>
	</div>
	<form name="profileForm">
		<profile-form
			ng-model="profile">
		</profile-form>
	</form>
	<div class="row">
		<div class="col-sm-12">
			<div class="pull-right" ng-include="'buttons.html'"></div>
		</div>
	</div>
	<script type="text/ng-template" id="buttons.html">
		<div class="form-actions">
			<button type="button"
					class="btn btn-default"
					ng-disabled="profileForm.$pristine"
					ng-click="resetForm()">Cancel
			</button>
			<button type="button"
					class="btn btn-primary"
					ng-disabled="profileForm.$invalid"
					ng-click="saveChanges()">Save Changes
			</button>
		</div>
	</script>
</div>
