<div>
	<div class="page-header">
		<div class="pull-right" ng-include="'buttons.html'"></div>
		<h1>
			<button type="button" class="btn btn-default" ui-sref="admin">
				<span class="glyphicon glyphicon-arrow-left"></span>
			</button>
			Add a Person
		</h1>
	</div>
	<form name="profileForm">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-horizontal well">
					<fieldset>
						<legend>Identity</legend>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="cas_username">Username</label>

							<div class="col-sm-8">
								<input type="email" class="form-control" id="cas_username" ng-model="profile.cas_username">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="key_guid">GUID</label>

							<div class="col-sm-8">
								<input type="text" class="form-control" id="key_guid" ng-model="profile.key_guid">
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-horizontal well">
					<fieldset>
						<legend>Personal</legend>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="email">E-mail Address</label>

							<div class="col-sm-8">
								<input type="email" class="form-control" id="email" ng-model="profile.email" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="last_name">Family Name</label>

							<div class="col-sm-8">
								<input type="text" class="form-control" id="last_name" ng-model="profile.last_name" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="first_name">Given Name</label>

							<div class="col-sm-8">
								<input type="text" class="form-control" id="first_name" ng-model="profile.first_name" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="preferred_name">Preferred Name<br />Nickname</label>

							<div class="col-sm-8">
								<input type="text" class="form-control" id="preferred_name" ng-model="profile.preferred_name">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="gender">Gender</label>

							<div class="col-sm-8">
								<select class="form-control" id="gender" ng-model="profile.gender" required>
									<option value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="birth_date">Birth Date</label>

							<div class="col-sm-8">
								<input type="date" class="form-control" id="birth_date" ng-model="profile.birth_date" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="marital_status">Marital Status</label>

							<div class="col-sm-8">
								<select class="form-control" id="marital_status" ng-model="profile.marital_status" required>
									<option value="Single">Single</option>
									<option value="Married">Married</option>
									<option value="Engaged">Engaged</option>
									<option value="Separated">Separated</option>
									<option value="Divorced">Divorced</option>
									<option value="Widowed">Widowed</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="language">Language 1</label>

							<div class="col-sm-8">
								<select class="form-control" id="language" ng-model="profile.language" required ng-options="value for (key, value) in languages"></select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="language2">Language 2</label>

							<div class="col-sm-8">
								<select class="form-control" id="language2" ng-model="profile.language2" ng-options="value for (key, value) in languages"></select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="language3">Language 3</label>

							<div class="col-sm-8">
								<select class="form-control" id="language3" ng-model="profile.language3" ng-options="value for (key, value) in languages"></select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Default Privacy Profile</label>

							<div class="col-sm-8">
								<div class="radio">
									<label>
										<input type="radio" name="is_secure" ng-value="false" ng-model="profile.is_secure" required>
										Public
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="is_secure" ng-value="true" ng-model="profile.is_secure" required>
										Private
									</label>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-horizontal well">
					<fieldset>
						<legend>Ministry</legend>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="mcc">Mission Critical Components</label>

							<div class="col-sm-8">
								<select class="form-control" id="mcc" ng-model="profile.mcc" required>
									<option value="Student-Led Movements">Student-Led Movements</option>
									<option value="Leader-Led Movements">Leader-Led Movements</option>
									<option value="Global Church Movements">Church-Led Movements</option>
									<option value="Digital Strategies">Digital Strategies</option>
									<option value="Area Team Leaders">Area Team Leaders</option>
									<option value="Fund Development">Fund Development</option>
									<option value="LDHR">Leadership Development/Human Resources</option>
									<option value="Operations">Operations</option>
									<option value="Unknown">Don’t Know</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="staff_status">Staff Status</label>

							<div class="col-sm-8">
								<select class="form-control" id="staff_status" ng-model="profile.staff_status" required>
									<option value="Full-time">Full-time</option>
									<option value="Short-term">Short-term</option>
									<option value="Part-time">Part-time</option>
									<option value="Volunteer">Volunteer</option>
									<option value="Other">Other</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="funding_source">Funding Source</label>

							<div class="col-sm-8">
								<select class="form-control" id="funding_source" ng-model="profile.funding_source" required>
									<option value="Supported Staff">Supported Staff</option>
									<option value="Centrally Funded Staff">Centrally Funded Staff</option>
									<option value="Self-funded">Self-funded</option>
									<option value="Hybrid">Hybrid</option>
									<option value="Other">Other</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label" for="employment_country">Country of Ministry Employment</label>

							<div class="col-sm-8">
								<select class="form-control" id="employment_country" ng-model="profile.employment_country" required>
									<option value="US">United States</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label" for="ministry_location_country">Country of Ministry Location</label>

							<div class="col-sm-8">
								<select class="form-control" id="ministry_location_country" ng-model="profile.ministry_location_country" required>
									<option value="US">United States</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label" for="date_joined_staff">Date Joined Staff</label>

							<div class="col-sm-8">
								<input type="date" class="form-control" id="date_joined_staff" ng-model="profile.date_joined_staff" required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label" for="date_left_staff">Date Left Staff</label>

							<div class="col-sm-8">
								<input type="date" class="form-control" id="date_left_staff" ng-model="profile.date_left_staff">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label" for="role">Position/Role</label>

							<div class="col-sm-8">
								<select class="form-control" id="role" ng-model="profile.role" required>
									<option value="Staff">Staff</option>
									<option value="Specialist">Specialist</option>
									<option value="Coordinator">Coordinator</option>
									<option value="Team Leader">Team Leader</option>
									<option value="National Team Leader">National Team Leader</option>
									<option value="Area Team Leader">Area Team Leader</option>
									<option value="Executive Team Member">Executive Team Member</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label" for="scope">Scope</label>

							<div class="col-sm-8">
								<select class="form-control" id="scope" ng-model="profile.scope" required>
									<option value="Local">Local</option>
									<option value="National Region">National Region</option>
									<option value="National">National</option>
									<option value="Area Region">Area Region</option>
									<option value="Area">Area</option>
									<option value="Global">Global</option>
								</select>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="pull-right" ng-include="'buttons.html'"></div>
			</div>
		</div>
	</form>
	<script type="text/ng-template" id="buttons.html">
		<div class="form-actions">
			<button type="button"
					class="btn btn-default"
					ng-click="resetForm()">Reset
			</button>
			<button type="button"
					class="btn btn-primary"
					ng-disabled="profileForm.$invalid"
					ng-click="saveProfile()">Save Person
			</button>
		</div>
	</script>
</div>
