<div>
	<div class="section clearfix">
		<div class="btn-group btn-group-justified">
			<a class="btn btn-warning" ui-sref="admin.import"><span class="glyphicon glyphicon-import"></span> Import a CSV</a>
			<a class="btn btn-primary" ui-sref="admin.add" ui-sref-opts="{reload:true}"><span class="glyphicon glyphicon-plus"></span> Add a Person</a>
		</div>
	</div>
	<div class="section">
		<div ng-class="{'input-group':filterText}">
			<input type="text" class="form-control" ng-model="filterText" placeholder="Search" />
			<span class="input-group-btn" ng-if="filterText">
				<button type="button" class="btn btn-default" ng-click="clearFilter()">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="section">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation"
				ng-repeat="person in people | filter:filterText | orderBy:['last_name','first_name']"
				ui-sref-active="active">
				<a ui-sref="admin.edit({person_ID: person.person_id})">{{person.last_name}}, {{person.first_name}}</a>
			</li>
		</ul>
	</div>
</div>
