<div>
	<div class="modal-header">
		<h3 class="modal-title" translate>Unsaved Changes</h3>
	</div>
	<div class="modal-body">
		<p translate>The current page has unsaved changes.</p>

		<p translate>To continue editing or to save changes, click Continue Editing, otherwise Discard Changes to continue.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()" translate>Discard Changes</button>
		<button class="btn btn-primary" ng-click="save()" translate>Continue Editing</button>
	</div>
</div>
