<div class="row">
	<script type="text/ng-template" id="ministryTemplate.html">
		<a>
			<span bind-html-unsafe="(match.model.area_code || 'GLBL') | typeaheadHighlight:query"></span>
			&mdash;
			<span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span>
		</a>
	</script>
	<div class="col-md-6">
		<div ng-transclude=""></div>
		<ng-form name="personal">
			<div class="form-horizontal well">
				<fieldset>
					<legend>Personal</legend>

					<!-- E-mail Address -->
					<div class="form-group has-feedback"
						 ng-class="{'has-error': !personal.email.$valid}">
						<label class="col-sm-4 control-label" for="email">E-mail Address</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': personal.email.$valid}">
								<input type="email"
									   name="email"
									   id="email"
									   class="form-control"
									   ng-model="profile.email"
									   ng-required="isRequired( 'email' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': personal.email.$valid, 'glyphicon-remove': !personal.email.$valid}"></span>
								</span>
							</div>

							<p ng-if="showHelp" class="help-block">Your E-mail Address used by the ministry to contact you.</p>
						</div>
					</div>

					<!-- Family/Surname -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.last_name.$valid}">
						<label class="col-sm-4 control-label" for="last_name">Family/Surname</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': personal.last_name.$valid}">
								<input type="text"
									   class="form-control"
									   id="last_name"
									   name="last_name"
									   ng-model="profile.last_name"
									   ng-required="isRequired( 'last_name' )"
									   ng-minlength="2">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': personal.last_name.$valid, 'glyphicon-remove': !personal.last_name.$valid}"></span>
								</span>
							</div>

							<p ng-if="showHelp" class="help-block">Your official family name.</p>
						</div>
					</div>

					<!-- Given Name -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.first_name.$valid}">
						<label class="col-sm-4 control-label" for="first_name">Given Name</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': personal.first_name.$valid}">
								<input type="text"
									   class="form-control"
									   id="first_name"
									   name="first_name"
									   ng-model="profile.first_name"
									   ng-required="isRequired( 'first_name' )"
									   ng-minlength="2">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': personal.first_name.$valid, 'glyphicon-remove': !personal.first_name.$valid}"></span>
								</span>
							</div>

							<p ng-if="showHelp" class="help-block">Your official given name.</p>
						</div>
					</div>

					<!-- Preferred Name -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.preferred_name.$valid}">
						<label class="col-sm-4 control-label" for="preferred_name">Preferred Name<br />Nickname</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': personal.preferred_name.$valid}">
								<input type="text"
									   class="form-control"
									   id="preferred_name"
									   name="preferred_name"
									   ng-model="profile.preferred_name"
									   ng-required="isRequired( 'preferred_name' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': personal.preferred_name.$valid, 'glyphicon-remove': !personal.preferred_name.$valid}"></span>
								</span>
							</div>

							<p ng-if="showHelp" class="help-block">This is the name by which you are commonly known or how you prefer people address you.</p>
						</div>
					</div>

					<!-- Gender -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.gender.$valid}">
						<label class="col-sm-4 control-label" for="gender">Gender</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': personal.gender.$valid}">
								<select
									class="form-control"
									id="gender"
									name="gender"
									ng-model="profile.gender"
									ng-required="isRequired( 'gender' )">
									<option value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Birth Date -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.birth_date.$valid}">
						<label class="col-sm-4 control-label" for="birth_date">Birth Date</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': personal.birth_date.$valid}">
								<input type="date"
									   class="form-control"
									   id="birth_date"
									   name="birth_date"
									   ng-model="profile.birth_date"
									   ng-required="isRequired( 'birth_date' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': personal.birth_date.$valid, 'glyphicon-remove': !personal.birth_date.$valid}"></span>
								</span>
							</div>
						</div>
					</div>

					<!-- Marital Status -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.marital_status.$valid}">
						<label class="col-sm-4 control-label" for="marital_status">Marital Status</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': personal.marital_status.$valid}">
								<select class="form-control"
										id="marital_status"
										name="marital_status"
										ng-model="profile.marital_status"
										ng-required="isRequired( 'marital_status' )">
									<option value="Single">Single</option>
									<option value="Married">Married</option>
									<option value="Engaged">Engaged</option>
									<option value="Separated">Separated</option>
									<option value="Divorced">Divorced</option>
									<option value="Widowed">Widowed</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Country of Residence -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.country_of_residence.$valid}">
						<label class="col-sm-4 control-label" for="country_of_residence">Country of Residence</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': personal.country_of_residence.$valid}">
								<input type="text"
									   class="form-control"
									   id="country_of_residence"
									   name="country_of_residence"
									   ng-model="profile.country_of_residence"
									   typeahead="country.iso3 as country.name for country in countries | filter:$viewValue | orderBy:'name' | limitTo:12"
									   typeahead-editable="false"
									   typeahead-input-formatter="formatCountryLabel($model)"
									   ng-required="isRequired( 'country_of_residence' )">
								<!--
								<select class="form-control"
										id="country_of_residence"
										name="country_of_residence"
										ng-model="profile.country_of_residence"
										ng-options="country.iso3 as country.name for country in countries | orderBy:'name'"
										ng-required="isRequired( 'country_of_residence' )">
								</select>
								-->
							</div>

							<p ng-if="showHelp" class="help-block">The country where you currently physically reside</p>
						</div>
					</div>

					<!-- Languages -->
					<!-- Language 1 -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.language1.$valid}">
						<label class="col-sm-4 control-label" for="language1">Language 1</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': personal.language1.$valid}">
								<select class="form-control"
										id="language1"
										name="language1"
										ng-model="profile.language[0]"
										ng-required="isRequired( 'language1' )"
										ng-options="lang.iso_code as lang.native_name for lang in languages | orderBy:'native_name'">
								</select>
							</div>

							<p ng-if="showHelp" class="help-block">This is the primary language you use.</p>
						</div>
					</div>

					<!-- Language 2 -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.language2.$valid}">
						<label class="col-sm-4 control-label" for="language2">Language 2</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': personal.language2.$valid}">
								<select class="form-control"
										id="language2"
										name="language2"
										ng-model="profile.language[1]"
										ng-required="isRequired( 'language2' )"
										ng-options="lang.iso_code as lang.native_name for lang in languages | orderBy:'native_name'">
								</select>
							</div>

							<p ng-if="showHelp" class="help-block">This is the language (after your primary language) with which you are most comfortable.</p>
						</div>
					</div>

					<!-- Language 3 -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.language3.$valid}">
						<label class="col-sm-4 control-label" for="language3">Language 3</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': personal.language3.$valid}">
								<select class="form-control"
										id="language3"
										name="language3"
										ng-model="profile.language[2]"
										ng-required="isRequired( 'language3' )"
										ng-options="lang.iso_code as lang.native_name for lang in languages | orderBy:'native_name'">
								</select>
							</div>

							<p ng-if="showHelp" class="help-block">You use this language also.</p>
						</div>
					</div>

					<!-- Default Profile Privacy -->
					<div ng-if="showPrivacy" class="form-group has-feedback" ng-class="{'has-error': !personal.is_secure.$valid}">
						<label class="col-sm-4 control-label">Default Privacy Profile</label>

						<div class="col-sm-8">
							<div class="radio">
								<label>
									<input type="radio" name="is_secure" ng-value="false" ng-model="profile.is_secure" ng-required="isRequired( 'is_secure' )">
									<span ng-hide="showHelp">Public</span>
									<span ng-show="showHelp">Anyone can see your profile information.</span>
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="is_secure" ng-value="true" ng-model="profile.is_secure" ng-required="isRequired( 'is_secure' )">
									<span ng-hide="showHelp">Private</span>
									<span ng-show="showHelp">Only you and an administrator can see your profile information. Select this profile setting if you work in a country where security is a concern.</span>
								</label>
							</div>
						</div>
					</div>

				</fieldset>
			</div>
		</ng-form>
	</div>

	<div class="col-md-6">
		<ng-form name="ministry">
			<div class="form-horizontal well">
				<fieldset>
					<legend>Ministry</legend>

					<!-- Organizationl Status -->
					<div class="form-group has-feedback" ng-class="{'has-error': !ministry.organizational_status.$valid}">
						<label class="col-sm-4 control-label" for="organizational_status">Organizational Status</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': ministry.organizational_status.$valid}">
								<select class="form-control"
										id="organizational_status"
										name="organizational_status"
										ng-model="profile.organizational_status"
										ng-required="isRequired( 'organizational_status' )">
									<option value="Full-time">Full Time Staff</option>
									<option value="Short-term">Short Term Staff</option>
									<option value="Part-time">Part Time Staff</option>
									<option value="Volunteer">Volunteer</option>
									<option value="Other">Other</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block well well-sm" ng-switch="profile.organizational_status">
								<span ng-switch-when="Full-time">You are employed full-time by Campus Crusade for Christ for an indefinite period.</span>
								<span ng-switch-when="Short-term">You are employed full-time by Campus Crusade for Christ but applied to Campus Crusade for Christ to participate in a project of 2 years or less.</span>
								<span ng-switch-when="Part-time">You have applied for staff and met all standards for full-time staff, but do not devote full-time to the ministry (Including Associate & Affiliate Staff). You may be self-funded.</span>
								<span ng-switch-when="Volunteer">You volunteer with the ministry of Campus Crusade for Christ. This would include student leaders on a college campus or other volunteer leaders within the ministry (engaged disciples and multiplying disciples).</span>
								<span ng-switch-when="Other">The above categories do not apply.</span>
								<span ng-switch-default>Choose an option to see a description.</span>
							</p>

							<p ng-if="showHelp" class="help-block">This identifies your working relationship with Campus Crusade for Christ, if any.</p>
						</div>
					</div>

					<!-- Funding Source -->
					<div class="form-group has-feedback" ng-class="{'has-error': !ministry.funding_source.$valid}">
						<label class="col-sm-4 control-label" for="funding_source">Funding Source</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': ministry.funding_source.$valid}">
								<select class="form-control" id="funding_source" name="funding_source" ng-model="profile.funding_source" ng-required="isRequired( 'funding_source' )">
									<option value="Supported Staff">Supported Staff</option>
									<option value="Centrally Funded Staff">Centrally Funded Staff</option>
									<option value="Self-funded">Self-funded</option>
									<option value="Hybrid">Hybrid</option>
									<option value="Other">Not Applicable</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block well well-sm" ng-switch="profile.funding_source">
								<span ng-switch-when="Supported Staff">You fund your ministry by donations you raise.</span>
								<span ng-switch-when="Centrally Funded Staff">You are fully paid (funded) by Campus Crusade for Christ, you do not raise funds.</span>
								<span ng-switch-when="Self-funded">You receive your salary from funds you raise for the ministry.</span>
								<span ng-switch-when="Hybrid">Two or more of the above categories apply to you.</span>
								<span ng-switch-when="Other">None of the other categories apply to you.</span>
								<span ng-switch-default>Choose an option to see a description.</span>
							</p>

							<p ng-if="showHelp" class="help-block">This is the primary source of your compensation, if any, from Campus Crusade for Christ.</p>
						</div>
					</div>

					<div ng-if="showStaffDates">

						<!-- Date Joined Staff -->
						<div class="form-group has-feedback" ng-class="{'has-error': !ministry.date_joined_staff.$valid}">
							<label class="col-sm-4 control-label" for="date_joined_staff">Date Joined Staff</label>

							<div class="col-sm-8">
								<div class="input-group" ng-class="{'has-success': ministry.date_joined_staff.$valid}">
									<input type="date" class="form-control" id="date_joined_staff" name="date_joined_staff" ng-model="profile.date_joined_staff" ng-required="isRequired( 'date_joined_staff' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': ministry.date_joined_staff.$valid, 'glyphicon-remove': !ministry.date_joined_staff.$valid}"></span>
								</span>
								</div>
							</div>
						</div>

						<!-- Date Left Staff -->
						<div ng-if="showLeftStaff" class="form-group has-feedback" ng-class="{'has-error': !ministry.date_left_staff.$valid}">
							<label class="col-sm-4 control-label" for="date_left_staff">Date Left Staff</label>

							<div class="col-sm-8">
								<div class="input-group" ng-class="{'has-success': ministry.date_left_staff.$valid}">
									<input type="date"
										   class="form-control"
										   id="date_left_staff"
										   name="date_left_staff"
										   ng-model="profile.date_left_staff"
										   ng-required="isRequired( 'date_left_staff' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': ministry.date_left_staff.$valid, 'glyphicon-remove': !ministry.date_left_staff.$valid}"></span>
								</span>
								</div>
							</div>
						</div>

					</div>

					<!-- Ministry of Employment -->
					<div ng-if="showEmploymentMinistry">

						<div class="form-group has-feedback" ng-class="{'has-error': !ministry.ministry_of_employment.$valid}">
							<label class="col-sm-4 control-label" for="ministry_of_employment">Ministry of Employment</label>

							<div class="col-sm-8">
								<div ng-class="{'has-success': ministry.ministry_of_employment.$valid}">
									<input type="text"
										   class="form-control"
										   id="ministry_of_employment"
										   name="ministry_of_employment"
										   ng-model="profile.ministry_of_employment"
										   typeahead="ministry.ministry_id as ministry.name for ministry in ministries | filter:$viewValue | orderBy:'name' | limitTo:12"
										   typeahead-template-url="ministryTemplate.html"
										   typeahead-editable="false"
										   typeahead-input-formatter="formatMinistryLabel($model)"
										   ng-required="isRequired( 'ministry_of_employment' )">
									<!--
									<select class="form-control"
											id="ministry_of_employment"
											name="ministry_of_employment"
											ng-model="profile.ministry_of_employment"
											ng-options="ministry.ministry_id as ministry.area_code + ' &mdash; ' + ministry.name for ministry in ministries | orderBy:'name'"
											ng-required="isRequired( 'ministry_of_employment' )">
									</select>
									-->
								</div>

								<p ng-if="showHelp" class="help-block">This is the ministry from which you receive your salary or other compensation.</p>
							</div>
						</div>

					</div>

				</fieldset>
			</div>
		</ng-form>

		<ng-form name="assignment">
			<div class="form-horizontal well">
				<fieldset>
					<legend>Assignment</legend>

					<!-- Ministry of Service -->
					<div class="form-group has-feedback" ng-class="{'has-error': !assignment.assignment_ministry.$valid}">
						<label class="col-sm-4 control-label" for="assignment_ministry">Ministry of Service</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': assignment.assignment_ministry.$valid}">
								<input type="text"
									   class="form-control"
									   id="assignment_ministry"
									   name="assignment_ministry"
									   ng-model="profile.assignments[0].ministry_id"
									   typeahead="ministry.ministry_id as ministry.name for ministry in ministries | filter:$viewValue | orderBy:'name' | limitTo:12"
									   typeahead-template-url="ministryTemplate.html"
									   typeahead-editable="false"
									   typeahead-input-formatter="formatMinistryLabel($model)"
									   ng-required="isRequired( 'assignment_ministry' )">
								<!--
								<select class="form-control"
										id="assignment_ministry"
										name="assignment_ministry"
										ng-model="profile.assignments[0].ministry_id"
										ng-options="ministry.ministry_id as ministry.area_code + ' &mdash; ' + ministry.name for ministry in ministries | orderBy:'name'"
										ng-required="isRequired( 'assignment_ministry' )">
								</select>
								-->
							</div>

							<p ng-if="showHelp" class="help-block">This is the Area/National ministry where you primarily serve. Short-term projects of a few weeks do not require a change.</p>
						</div>
					</div>

					<!-- Mission Critical Components -->
					<div class="form-group has-feedback" ng-class="{'has-error': !assignment.mcc.$valid}">
						<label class="col-sm-4 control-label" for="mcc">Mission Critical Components</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': assignment.mcc.$valid}">
								<select class="form-control"
										id="mcc"
										name="mcc"
										ng-model="profile.assignments[0].mcc"
										ng-required="isRequired( 'mcc' )">
									<option value="Student-Led Movements">Student-Led Movements</option>
									<option value="Leader-Led Movements">Leader-Led Movements</option>
									<option value="Global Church Movements">Church-Led Movements</option>
									<option value="Digital Strategies">Digital Strategies</option>
									<option value="Area Team Leaders">Multi-MCC Leader</option>
									<option value="Fund Development">Fund Development</option>
									<option value="LDHR">Leadership Development/Human Resources</option>
									<option value="Operations">Operations</option>
									<option value="Jesus Film">Jesus Film</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block well well-sm" ng-switch="profile.assignments[0].mcc">
								<span ng-switch-when="Student-Led Movements">You help student leaders develop movements of evangelism and discipleship.</span>
								<span ng-switch-when="Leader-Led Movements">You help adult leaders develop movements of evangelism and discipleship.</span>
								<span ng-switch-when="Global Church Movements">You help church leaders develop movements of evangelism and discipleship.</span>
								<span ng-switch-when="Digital Strategies">You help develop movements of evangelism and discipleship through the internet.</span>
								<span ng-switch-when="Area Team Leaders">You help make movements more effective by serving our line leadership (NTL, ATL, etc.)</span>
								<span ng-switch-when="Fund Development">You help make movements more efective by developing financial resources for the ministry.</span>
								<span ng-switch-when="LDHR">You help make movments more effective by developing growing people, effective leaders and healthy teams.</span>
								<span ng-switch-when="Operations">You help make movements more effective by leading effective processes.</span>
								<span ng-switch-when="Jesus Film">You help make movements more effective by serving in the Jesus Film ministry.</span>
								<span ng-switch-default>Choose an option to see a description.</span>
							</p>

							<p ng-if="showHelp" class="help-block">These are the components that have been determined to be critical to building movements everywhere.</p>
						</div>
					</div>

					<!-- Position/Role -->
					<div class="form-group has-feedback" ng-class="{'has-error': !assignment.position_role.$valid}">
						<label class="col-sm-4 control-label" for="position_role">Position/Role</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': assignment.position_role.$valid}">
								<select class="form-control"
										id="position_role"
										name="position_role"
										ng-model="profile.assignments[0].position_role"
										ng-required="isRequired( 'position_role' )">
									<option value="Team Member">Team Member</option>
									<option value="Team Leader">Team Leader</option>
									<option value="Not Applicable">Not Applicable</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block well well-sm" ng-switch="profile.assignments[0].position_role">
								<span ng-switch-when="Team Member">You primarily serve as a team member under the supervision of a team leader. You may be in a field ministry or on a team helping to build capacity (e.g. Operations, LDHR, Fund Development, etc).</span>
								<span ng-switch-when="Team Leader">You primarily serve as the team leader of either a field or capacity building ministry team (e.g. Operations, LDHR, Fund Development, etc.) A team leader is defined as an individual who has primary responsibility for supervising or developing staff or volunteers.</span>
								<span ng-switch-when="Not Applicable">You neither serve as a team member on a team nor lead a team.</span>
								<span ng-switch-default>Choose an option to see a description.</span>
							</p>

							<p ng-if="showHelp" class="help-block">This is your role or position within Campus Crusade for Christ.</p>
						</div>
					</div>

					<!-- Scope -->
					<div class="form-group has-feedback" ng-class="{'has-error': !assignment.scope.$valid}">
						<label class="col-sm-4 control-label" for="scope">Scope</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': assignment.scope.$valid}">
								<select class="form-control" id="scope" name="scope" ng-model="profile.assignments[0].scope" ng-required="isRequired( 'scope' )">
									<option value="Local">Local</option>
									<option value="National Region">National Region</option>
									<option value="National">National</option>
									<option value="Area Region">Area Region</option>
									<option value="Area">Area</option>
									<option value="Global">Global</option>
									<option value="Executive">Executive</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block well well-sm" ng-switch="profile.assignments[0].scope">
								<span ng-switch-when="Local">You serve on a campus, in a village or a city.</span>
								<span ng-switch-when="National Region">You serve in a team that oversees two or more local teams.</span>
								<span ng-switch-when="National">You serve in the national office or on a ministry team that oversees two or more regional field ministry teams.</span>
								<span ng-switch-when="Area Region">You serve in a region that includes one or more countries but not the entire Area.</span>
								<span ng-switch-when="Area">You serve in the Area office or on a ministry team that oversees two or more national ministry teams.</span>
								<span ng-switch-when="Global">You serve in an Executive Team Leader’s office or other ministry that works with countries in multiple Areas.</span>
								<span ng-switch-when="Executive">You serve as a Vice President on the Exective Team.</span>
								<span ng-switch-default>Choose an option to see a description.</span>
							</p>

							<p ng-if="showHelp" class="help-block">This defines how broad an area of responsibility you have or in which you serve.</p>
						</div>
					</div>

				</fieldset>
			</div>
		</ng-form>
	</div>
</div>
