<div class="row">
	<script type="text/ng-template" id="ministryTemplate.html">
		<a>
			<span ng-bind-html="(match.model.area_code || 'GLBL') | uibTypeaheadHighlight:query"></span>
			&mdash;
			<span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
		</a>
	</script>
	<div class="col-md-6">
		<div ng-transclude=""></div>
		<ng-form name="personal">
			<div class="form-horizontal well">
				<fieldset>
					<legend translate>Personal</legend>

					<!-- E-mail Address -->
					<div class="form-group has-feedback"
						 ng-class="{'has-error': !personal.email.$valid}">
						<label class="col-sm-4 control-label" for="email" translate>E-mail Address</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': personal.email.$valid}">
								<input type="email"
									   name="email"
									   id="email"
									   class="form-control"
									   ng-model="profile.email"
									   ng-required="isRequired( 'email' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': personal.email.$valid, 'glyphicon-remove': !personal.email.$valid}"></span>
								</span>
							</div>

							<p ng-if="showHelp" class="help-block" translate>Your E-mail Address used by the organization to contact you.</p>
						</div>
					</div>

					<!-- Family/Surname -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.last_name.$valid}">
						<label class="col-sm-4 control-label" for="last_name" translate>Family/Surname</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': personal.last_name.$valid}">
								<input type="text"
									   class="form-control"
									   id="last_name"
									   name="last_name"
									   ng-model="profile.last_name"
									   ng-required="isRequired( 'last_name' )"
									   ng-minlength="2">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': personal.last_name.$valid, 'glyphicon-remove': !personal.last_name.$valid}"></span>
								</span>
							</div>

							<p ng-if="showHelp" class="help-block" translate>Your official family name.</p>
						</div>
					</div>

					<!-- Given Name -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.first_name.$valid}">
						<label class="col-sm-4 control-label" for="first_name" translate>Given Name(s)</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': personal.first_name.$valid}">
								<input type="text"
									   class="form-control"
									   id="first_name"
									   name="first_name"
									   ng-model="profile.first_name"
									   ng-required="isRequired( 'first_name' )"
									   ng-minlength="2">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': personal.first_name.$valid, 'glyphicon-remove': !personal.first_name.$valid}"></span>
								</span>
							</div>

							<p ng-if="showHelp" class="help-block" translate>Your official given name(s).</p>
						</div>
					</div>

					<!-- Preferred Name -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.preferred_name.$valid}">
						<label class="col-sm-4 control-label" for="preferred_name" translate>Preferred Name<br />Nickname</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': personal.preferred_name.$valid}">
								<input type="text"
									   class="form-control"
									   id="preferred_name"
									   name="preferred_name"
									   ng-model="profile.preferred_name"
									   ng-required="isRequired( 'preferred_name' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': personal.preferred_name.$valid, 'glyphicon-remove': !personal.preferred_name.$valid}"></span>
								</span>
							</div>

							<p ng-if="showHelp" class="help-block" translate>This is the name by which you are commonly known or how you prefer people address you.</p>
						</div>
					</div>

					<!-- Gender -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.gender.$valid}">
						<label class="col-sm-4 control-label" for="gender" translate>Gender</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': personal.gender.$valid}">
								<select
									class="form-control"
									id="gender"
									name="gender"
									ng-model="profile.gender"
									ng-required="isRequired( 'gender' )">
									<option value="Male" translate>Male</option>
									<option value="Female" translate>Female</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Birth Date -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.birth_date.$valid}">
						<label class="col-sm-4 control-label" for="birth_date" translate>Birth Date</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': personal.birth_date.$valid}">
								<input type="date"
									   class="form-control"
									   id="birth_date"
									   name="birth_date"
									   ng-model="profile.birth_date"
									   ng-required="isRequired( 'birth_date' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': personal.birth_date.$valid, 'glyphicon-remove': !personal.birth_date.$valid}"></span>
								</span>
							</div>
						</div>
					</div>

					<!-- Languages -->
					<!-- Language 1 -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.language1.$valid}">
						<label class="col-sm-4 control-label" for="language1" translate>Language 1</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': personal.language1.$valid}">
								<select class="form-control"
										id="language1"
										name="language1"
										ng-model="profile.language[0]"
										ng-required="isRequired( 'language1' )"
										ng-options="lang.iso_code as lang.native_name for lang in languages | orderBy:'native_name'">
										<option value="" translate>Select Language (Required)</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block" translate>This is my first language.</p>
						</div>
					</div>

					<!-- Language 2 -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.language2.$valid}">
						<label class="col-sm-4 control-label" for="language2" translate>Language 2</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': personal.language2.$valid}">
								<select class="form-control"
										id="language2"
										name="language2"
										ng-model="profile.language[1]"
										ng-options="lang.iso_code as lang.native_name for lang in languages | orderBy:'native_name'">
										<option value="" translate>No Language (Optional)</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block" translate>This is my second language.</p>
						</div>
					</div>

					<!-- Language 3 -->
					<div class="form-group has-feedback" ng-class="{'has-error': !personal.language3.$valid}">
						<label class="col-sm-4 control-label" for="language3" translate>Language 3</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': personal.language3.$valid}">
								<select class="form-control"
										id="language3"
										name="language3"
										ng-model="profile.language[2]"
										ng-options="lang.iso_code as lang.native_name for lang in languages | orderBy:'native_name'">
										<option value="" translate>No Language (Optional)</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block" translate>This is my third language.</p>
						</div>
					</div>

					<!-- Default Profile Privacy -->
					<div ng-if="showPrivacy" class="form-group has-feedback" ng-class="{'has-error': !personal.is_secure.$valid}">
						<label class="col-sm-4 control-label" translate>Default Privacy Profile</label>

						<div class="col-sm-8">
							<div class="radio">
								<label>
									<input type="radio" name="is_secure" ng-value="false" ng-model="profile.is_secure" ng-required="isRequired( 'is_secure' )">
									<span ng-hide="showHelp" translate>Public</span>
									<span ng-show="showHelp" translate>Anyone can see your profile information.</span>
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="is_secure" ng-value="true" ng-model="profile.is_secure" ng-required="isRequired( 'is_secure' )">
									<span ng-hide="showHelp" translate>Private</span>
									<span ng-show="showHelp" translate>Only you and an administrator can see your profile information. Select this profile setting if you work in a country where security is a concern.</span>
								</label>
							</div>
						</div>
					</div>

				</fieldset>
			</div>
		</ng-form>

		<ng-form name="address">
			<div class="form-horizontal well">
				<fieldset>
					<legend>
						<span translate>Address</span>
						<span>&nbsp;</span>
						<span ng-if="showHelp" class="small" translate>(current physical residence.)</span>
					</legend>

					<!-- Line 1 -->
					<div class="form-group has-feedback"
						 ng-class="{'has-error': !address.line1.$valid}">
						<label class="col-sm-4 control-label" for="line1" translate>Line 1</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': address.line1.$valid}">
								<input type="text"
									   name="line1"
									   id="line1"
									   class="form-control"
									   autocomplete="off"
									   ng-model="profile.address.line1"
									   ng-minlength="2"
									   ng-required="isRequired( 'address.line1' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': address.line1.$valid, 'glyphicon-remove': !address.line1.$valid}"></span>
								</span>
							</div>
						</div>
					</div>

					<!-- Line 2 -->
					<div class="form-group has-feedback"
						 ng-class="{'has-error': !address.line2.$valid}">
						<label class="col-sm-4 control-label" for="line2" translate>Line 2</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': address.line2.$valid}">
								<input type="text"
									   name="line2"
									   id="line2"
									   class="form-control"
									   autocomplete="off"
									   ng-model="profile.address.line2"
									   ng-required="isRequired( 'address.line2' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': address.line2.$valid, 'glyphicon-remove': !address.line2.$valid}"></span>
								</span>
							</div>
						</div>
					</div>

					<!-- City -->
					<div class="form-group has-feedback"
						 ng-class="{'has-error': !address.city.$valid}">
						<label class="col-sm-4 control-label" for="city" translate>City</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': address.city.$valid}">
								<input type="text"
									   name="city"
									   id="city"
									   class="form-control"
									   autocomplete="off"
									   ng-model="profile.address.city"
									   ng-minlength="2"
									   ng-required="isRequired( 'address.city' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': address.city.$valid, 'glyphicon-remove': !address.city.$valid}"></span>
								</span>
							</div>
						</div>
					</div>

					<!-- State -->
					<div class="form-group has-feedback"
						 ng-class="{'has-error': !address.state.$valid}">
						<label class="col-sm-4 control-label" for="state" translate>State / Province</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': address.state.$valid}">
								<input type="text"
									   name="state"
									   id="state"
									   class="form-control"
									   autocomplete="off"
									   ng-model="profile.address.state"
									   ng-minlength="2"
									   ng-required="isRequired( 'address.state' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': address.state.$valid, 'glyphicon-remove': !address.state.$valid}"></span>
								</span>
							</div>
						</div>
					</div>

					<!-- Postal Code -->
					<div class="form-group has-feedback"
						 ng-class="{'has-error': !address.postal_code.$valid}">
						<label class="col-sm-4 control-label" for="postal_code" translate>Postal Code</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': address.postal_code.$valid}">
								<input type="text"
									   name="postal_code"
									   id="postal_code"
									   class="form-control"
									   autocomplete="off"
									   ng-model="profile.address.postal_code"
									   ng-minlength="2"
									   ng-required="isRequired( 'address.postal_code' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': address.postal_code.$valid, 'glyphicon-remove': !address.postal_code.$valid}"></span>
								</span>
							</div>
						</div>
					</div>

					<!-- Country -->
					<div class="form-group has-feedback" ng-class="{'has-error': !address.country.$valid}">
						<label class="col-sm-4 control-label" for="country" translate>Country</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': address.country.$valid}">
								<input type="text"
									   class="form-control"
									   id="country"
									   name="country"
									   autocomplete="off"
									   ng-model="profile.address.country"
									   uib-typeahead="country.iso3 as country.name for country in countries | filter:$viewValue | orderBy:'name'"
									   typeahead-min-length="2"
									   typeahead-editable="false"
									   typeahead-input-formatter="formatCountryLabel($model)"
									   ng-required="isRequired( 'address.country' )">
							</div>
						</div>
					</div>

					<!-- Phone Number -->
					<div class="form-group has-feedback"
						 ng-class="{'has-error': !address.phone_number.$valid}">
						<label class="col-sm-4 control-label" for="phone_number" translate>Phone Number</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': address.phone_number.$valid}">
								<input type="tel"
									   name="phone_number"
									   id="phone_number"
									   class="form-control"
									   autocomplete="off"
									   ng-model="profile.phone_number"
									   ng-minlength="2"
									   ng-required="isRequired( 'phone_number' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': address.phone_number.$valid, 'glyphicon-remove': !address.phone_number.$valid}"></span>
								</span>
							</div>

							<p ng-if="showHelp" class="help-block" translate>Your Phone Number used by the organization to contact you.</p>
						</div>
					</div>

					<!-- Skype ID -->
					<div class="form-group has-feedback"
						 ng-class="{'has-error': !address.skype_id.$valid}">
						<label class="col-sm-4 control-label" for="skype_id" translate>Skype ID</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': address.skype_id.$valid}">
								<input type="text"
									   name="skype_id"
									   id="skype_id"
									   class="form-control"
									   autocomplete="off"
									   ng-model="profile.skype_id"
									   ng-required="isRequired( 'skype_id' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': address.skype_id.$valid, 'glyphicon-remove': !address.skype_id.$valid}"></span>
								</span>
							</div>

							<p ng-if="showHelp" class="help-block" translate>Your Skype ID used by the organization to contact you.</p>
						</div>
					</div>

				</fieldset>
			</div>
		</ng-form>
	</div>

	<div class="col-md-6">
		<ng-form name="marriage">
			<div class="form-horizontal well">
				<fieldset>
					<legend translate>Marriage</legend>

					<!-- Marital Status -->
					<div class="form-group has-feedback" ng-class="{'has-error': !marriage.marital_status.$valid}">
						<label class="col-sm-4 control-label" for="marital_status" translate>Marital Status</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': marriage.marital_status.$valid}">
								<select class="form-control"
										id="marital_status"
										name="marital_status"
										ng-model="profile.marital_status"
										ng-required="isRequired( 'marital_status' )">
									<option value="Single" translate>Single</option>
									<option value="Married" translate>Married</option>
									<option value="Engaged" translate>Engaged</option>
									<option value="Separated" translate>Separated</option>
									<option value="Divorced" translate>Divorced</option>
									<option value="Widowed" translate>Widowed</option>
									<option value="Married to non-staff" translate>Married to non-staff</option>
								</select>
							</div>
						</div>
					</div>

					<div ng-if="showSpouse">

						<!-- Marriage Date -->
						<div class="form-group has-feedback" ng-class="{'has-error': !marriage.marriage_date.$valid}">
							<label class="col-sm-4 control-label" for="marriage_date" translate>Marriage Date</label>

							<div class="col-sm-8">
								<div class="input-group" ng-class="{'has-success': marriage.marriage_date.$valid}">
									<input type="date"
										   class="form-control"
										   id="marriage_date"
										   name="marriage_date"
										   ng-model="profile.marriage_date"
										   ng-required="isRequired( 'marriage_date' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': marriage.marriage_date.$valid, 'glyphicon-remove': !marriage.marriage_date.$valid}"></span>
								</span>
								</div>
							</div>
						</div>

						<!-- Spouse -->
						<spouse ng-model="profile.spouse" ng-required="isRequired( 'spouse' )" show-spouse-selector="showSpouseSelector" current-ministry="currentMinistry"></spouse>
					</div>
				</fieldset>
			</div>
		</ng-form>

		<ng-form name="children">
			<div class="form-horizontal well">
				<fieldset>
					<legend><span translate>Children</span>
						<button class="btn btn-info pull-right btn-add-child" ng-click="addChild()" type="button">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span translate>Child</span>
						</button>
						<div class="clearfix"></div>
					</legend>

					<!-- Children -->
					<div class="form-group has_feedback"
						 ng-repeat="child in profile.children track by $index"
						 ng-class="{'has-error': !children[$index + '_name'].$valid && !children[$index + '_date'].$valid }">
						<div class="col-sm-5">
							<div class="input-group" ng-class="{'has-success': children[$index + '_name'].$valid}">
								<input type="text"
									   placeholder="{{ 'First Name' | translate }}"
									   name="{{$index}}_name"
									   id="{{$index}}_name"
									   class="form-control"
									   ng-model="child.first_name"
									   ng-required="isRequired( 'children.first_name' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': children[$index + '_name'].$valid, 'glyphicon-remove': !children[$index + '_name'].$valid}"></span>
								</span>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="input-group" ng-class="{'has-success': children[$index + '_date'].$valid}">
								<input type="date"
									   placeholder="{{ 'Birth Date' | translate }}"
									   name="{{$index}}_date"
									   id="{{$index}}_date"
									   class="form-control"
									   ng-model="child.birth_date"
									   ng-required="isRequired( 'children.birth_date' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': children[$index + '_date'].$valid, 'glyphicon-remove': !children[$index + '_date'].$valid}"></span>
								</span>
							</div>
						</div>
						<div class="col-sm-1">
							<button type="button" class="btn btn-danger" ng-click="removeChild($index)">
								<span class="glyphicon glyphicon-minus"></span>
							</button>
						</div>
					</div>
				</fieldset>
			</div>
		</ng-form>

		<ng-form name="ministry">
			<div class="form-horizontal well">
				<fieldset>
					<legend translate>Ministry</legend>

					<!-- Organizationl Status -->
					<div class="form-group has-feedback" ng-class="{'has-error': !ministry.organizational_status.$valid}">
						<label class="col-sm-4 control-label" for="organizational_status" translate>Organizational Status</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': ministry.organizational_status.$valid}">
								<select class="form-control"
										id="organizational_status"
										name="organizational_status"
										ng-model="profile.organizational_status"
										ng-required="isRequired( 'organizational_status' )">
									<option value="Full-time" translate>Full Time Staff</option>
									<option value="Short-term" translate>Short Term Staff</option>
									<option value="Part-time" translate>Part Time Staff</option>
									<option value="Volunteer" translate>Volunteer</option>
									<option value="Other" translate>Other</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block well well-sm" ng-switch="profile.organizational_status">
								<span ng-switch-when="Full-time" translate>You are employed full-time by the organization for an indefinite period.</span>
								<span ng-switch-when="Short-term" translate>You are employed full-time by the organization but applied to the organization to participate in a project of 2 years or less (including STINTERs or Interns).</span>
								<span ng-switch-when="Part-time" translate>You have applied for staff and met all standards for full-time staff, but do not devote full-time to the organization (Including Associate Staff, Affiliate Staff, Professional Staff or Associated Partners).</span>
								<span ng-switch-when="Volunteer" translate>You volunteer with the organization. This would include student leaders on a college campus or other volunteer leaders.</span>
								<span ng-switch-when="Other" translate>The above categories do not apply.</span>
								<span ng-switch-default translate>Choose an option to see a description.</span>
							</p>

							<p ng-if="showHelp" class="help-block" translate>This identifies your working relationship with the organization, if any.</p>
						</div>
					</div>

					<!-- Funding Source -->
					<div class="form-group has-feedback" ng-class="{'has-error': !ministry.funding_source.$valid}">
						<label class="col-sm-4 control-label" for="funding_source" translate>Funding Source</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': ministry.funding_source.$valid}">
								<select class="form-control" id="funding_source" name="funding_source" ng-model="profile.funding_source" ng-required="isRequired( 'funding_source' )">
									<option value="Supported Staff" translate>Supported Staff</option>
									<option value="Centrally Funded Staff" translate>Centrally Funded Staff</option>
									<option value="Self-funded" translate>Self-funded</option>
									<option value="Hybrid" translate>Hybrid</option>
									<option value="Other" translate>Not Applicable</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block well well-sm" ng-switch="profile.funding_source">
								<span ng-switch-when="Supported Staff" translate>You receive a salary from funds you raise for the organization.</span>
								<span ng-switch-when="Centrally Funded Staff" translate>You are fully paid (funded) by the organization; you do not raise funds for your salary.</span>
								<span ng-switch-when="Self-funded" translate>You are self funded. You do not receive a salary from the organization.</span>
								<span ng-switch-when="Hybrid" translate>Two or more of the above categories apply to you.</span>
								<span ng-switch-when="Other" translate>None of the other categories apply to you.</span>
								<span ng-switch-default translate>Choose an option to see a description.</span>
							</p>

							<p ng-if="showHelp" class="help-block" translate>This is the primary source of your compensation, if any, from the organization.</p>
						</div>
					</div>

					<div ng-if="showStaffDates">

						<!-- Date Joined Staff -->
						<div class="form-group has-feedback" ng-class="{'has-error': !ministry.date_joined_staff.$valid}">
							<label class="col-sm-4 control-label" for="date_joined_staff" translate>Date Joined Staff</label>

							<div class="col-sm-8">
								<div class="input-group" ng-class="{'has-success': ministry.date_joined_staff.$valid}">
									<input type="date" class="form-control" id="date_joined_staff" name="date_joined_staff" ng-model="profile.date_joined_staff" ng-required="isRequired( 'date_joined_staff' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': ministry.date_joined_staff.$valid, 'glyphicon-remove': !ministry.date_joined_staff.$valid}"></span>
								</span>
								</div>
							</div>
						</div>

						<!-- Date Left Staff -->
						<div ng-if="showLeftStaff" class="form-group has-feedback" ng-class="{'has-error': !ministry.date_left_staff.$valid}">
							<label class="col-sm-4 control-label" for="date_left_staff" translate>Date Left Staff</label>

							<div class="col-sm-8">
								<div class="input-group" ng-class="{'has-success': ministry.date_left_staff.$valid}">
									<input type="date"
										   class="form-control"
										   id="date_left_staff"
										   name="date_left_staff"
										   ng-model="profile.date_left_staff"
										   ng-required="isRequired( 'date_left_staff' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': ministry.date_left_staff.$valid, 'glyphicon-remove': !ministry.date_left_staff.$valid}"></span>
								</span>
								</div>
							</div>
						</div>

					</div>

					<!-- Ministry of Employment -->
					<div ng-if="showEmploymentMinistry">

						<div class="form-group has-feedback" ng-class="{'has-error': !ministry.ministry_of_employment.$valid}">
							<label class="col-sm-4 control-label" for="ministry_of_employment" translate>Country of Employment</label>

							<div class="col-sm-8">
								<div ng-class="{'has-success': ministry.ministry_of_employment.$valid}">
									<input type="text"
										   class="form-control"
										   id="ministry_of_employment"
										   name="ministry_of_employment"
										   autocomplete="off"
										   ng-model="profile.ministry_of_employment"
										   uib-typeahead="ministry.ministry_id as ministry.name for ministry in ministries | filter:$viewValue | orderBy:'name'"
										   typeahead-template-url="ministryTemplate.html"
										   typeahead-min-length="2"
										   typeahead-editable="false"
										   typeahead-input-formatter="formatMinistryLabel($model)"
										   ng-required="isRequired( 'ministry_of_employment' )">
								</div>

								<p ng-if="showHelp" class="help-block" translate>This is the country from which you receive your salary or other compensation.</p>
							</div>
						</div>

					</div>

					<!-- Staff Account -->
					<div class="form-group has-feedback" ng-class="{'has-error': !ministry.staff_account.$valid}">
						<label class="col-sm-4 control-label" for="staff_account" translate>Staff Account</label>

						<div class="col-sm-8">
							<div class="input-group" ng-class="{'has-success': ministry.staff_account.$valid}">
								<input type="text"
									   class="form-control"
									   id="staff_account"
									   name="staff_account"
									   ng-model="profile.staff_account"
									   ng-required="isRequired( 'staff_account' )">
								<span class="input-group-addon">
									<span class="glyphicon"
										  aria-hidden="true"
										  ng-class="{'glyphicon-ok': ministry.staff_account.$valid, 'glyphicon-remove': !ministry.staff_account.$valid}"></span>
								</span>
							</div>

							<p ng-if="showHelp" class="help-block" translate>This is Your Staff Account.</p>
						</div>
					</div>

				</fieldset>
			</div>
		</ng-form>

		<ng-form name="assignment">
			<div class="form-horizontal well">
				<fieldset>
					<legend translate>Assignment</legend>

					<!-- Ministry of Service -->
					<div class="form-group has-feedback" ng-class="{'has-error': !assignment.assignment_ministry.$valid}">
						<label class="col-sm-4 control-label" for="assignment_ministry" translate>Geographic Area of Service</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': assignment.assignment_ministry.$valid}">
								<input type="text"
									   class="form-control"
									   id="assignment_ministry"
									   name="assignment_ministry"
									   autocomplete="off"
									   ng-model="profile.assignments[0].ministry_id"
									   uib-typeahead="ministry.ministry_id as ministry.name for ministry in ministries | filter:$viewValue | orderBy:'name'"
									   typeahead-template-url="ministryTemplate.html"
									   typeahead-min-length="2"
									   typeahead-editable="false"
									   typeahead-input-formatter="formatMinistryLabel($model)"
									   ng-required="isRequired( 'assignment_ministry' )">
							</div>

							<p ng-if="showHelp" class="help-block" translate>This is the Area/National geographic area where you primarily serve. Short-term projects of a few weeks do not require a change.</p>
						</div>
					</div>

					<!-- Mission Critical Components -->
					<div class="form-group has-feedback" ng-class="{'has-error': !assignment.mcc.$valid}">
						<label class="col-sm-4 control-label" for="mcc" translate>Mission Critical Components</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': assignment.mcc.$valid}">
								<select class="form-control"
										id="mcc"
										name="mcc"
										ng-model="profile.assignments[0].mcc"
										ng-required="isRequired( 'mcc' )">
									<option value="Student-Led Movements" translate>Student-Led Movements</option>
									<option value="Leader-Led Movements" translate>LeaderImpact</option>
									<option value="Global Church Movements" translate>GCM</option>
									<option value="Digital Strategies" translate>Digital Strategies</option>
									<option value="Area Team Leaders" translate>Multi-MCC Leader</option>
									<option value="Fund Development" translate>Fund Development</option>
									<option value="LDHR" translate>Leadership Development/Human Resources</option>
									<option value="Operations" translate>Operations</option>
									<option value="Jesus Film" translate>J-Film</option>
									<option value="Prayer" translate>Prayer</option>
									<option value="Other" translate>Other</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block well well-sm" ng-switch="profile.assignments[0].mcc">
								<span ng-switch-when="Student-Led Movements" translate>You help student leaders develop movements.</span>
								<span ng-switch-when="Leader-Led Movements" translate>You help adult leaders develop movements.</span>
								<span ng-switch-when="Global Church Movements" translate>You help leaders develop movements of multiplying faith communities.</span>
								<span ng-switch-when="Digital Strategies" translate>You help develop movements through the internet.</span>
								<span ng-switch-when="Area Team Leaders" translate>You help make movements more effective by serving our line leadership (NTL, ATL, etc.)</span>
								<span ng-switch-when="Fund Development" translate>You help make movements more effective by developing financial resources.</span>
								<span ng-switch-when="LDHR" translate>You help make movments more effective by developing growing people, effective leaders and healthy teams.</span>
								<span ng-switch-when="Operations" translate>You help make movements more effective by leading effective processes.</span>
								<span ng-switch-when="Jesus Film" translate>You help make movements more effective by serving with the J-Film.</span>
								<span ng-switch-when="Prayer" translate>You help cultivate a culture of prayer that inspires movements everywhere.</span>
								<span ng-switch-when="Other" translate>You help contribute to movements in ways that support our primary MCC's.</span>
								<span ng-switch-default translate>Choose an option to see a description.</span>
							</p>

							<p ng-if="showHelp" class="help-block" translate>These are the components that have been determined to be critical to building movements everywhere.</p>
						</div>
					</div>

					<!-- Position/Role -->
					<div class="form-group has-feedback" ng-class="{'has-error': !assignment.position_role.$valid}">
						<label class="col-sm-4 control-label" for="position_role" translate>Position/Role</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': assignment.position_role.$valid}">
								<select class="form-control"
										id="position_role"
										name="position_role"
										ng-model="profile.assignments[0].position_role"
										ng-required="isRequired( 'position_role' )">
									<option value="Team Member" translate>Team Member</option>
									<option value="Team Leader" translate>Team Leader</option>
									<option value="Not Applicable" translate>Not Applicable</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block well well-sm" ng-switch="profile.assignments[0].position_role">
								<span ng-switch-when="Team Member" translate>You primarily serve as a team member under the supervision of a team leader. You may be on the field or on a team helping to build capacity (e.g. Operations, LDHR, Fund Development, etc).</span>
								<span ng-switch-when="Team Leader" translate>You primarily serve as the team leader of either a field or capacity building team (e.g. Operations, LDHR, Fund Development, etc.) A team leader is defined as an individual who has primary responsibility for supervising or developing staff or volunteers.</span>
								<span ng-switch-when="Not Applicable" translate>You neither serve as a team member on a team nor lead a team.</span>
								<span ng-switch-default translate>Choose an option to see a description.</span>
							</p>

							<p ng-if="showHelp" class="help-block" translate>This is your role or position within the organization.</p>
						</div>
					</div>

					<!-- Scope -->
					<div class="form-group has-feedback" ng-class="{'has-error': !assignment.scope.$valid}">
						<label class="col-sm-4 control-label" for="scope" translate>Scope</label>

						<div class="col-sm-8">
							<div ng-class="{'has-success': assignment.scope.$valid}">
								<select class="form-control" id="scope" name="scope" ng-model="profile.assignments[0].scope" ng-required="isRequired( 'scope' )">
									<option value="Local" translate>Local</option>
									<option value="National Region" translate>National Region</option>
									<option value="National" translate>National</option>
									<option value="Area Region" translate>Area Region</option>
									<option value="Area" translate>Area</option>
									<option value="Global" translate>Global</option>
									<option value="Executive" translate>Executive</option>
								</select>
							</div>

							<p ng-if="showHelp" class="help-block well well-sm" ng-switch="profile.assignments[0].scope">
								<span ng-switch-when="Local" translate>You serve on a campus, in a village or a city.</span>
								<span ng-switch-when="National Region" translate>You serve on a team that oversees two or more local teams.</span>
								<span ng-switch-when="National" translate>You serve in the national office or on a team that oversees two or more regional field teams.</span>
								<span ng-switch-when="Area Region" translate>You serve on a team that oversees one or more countries but not the entire Area.</span>
								<span ng-switch-when="Area" translate>You serve on the Area Leadership Team or in the Area Office or on a team that helps to support the development of strategies (SLM, LeaderImpact, GCM, DS) or capacity building (Operations, LDHR, Fund Development, etc.) for the Area.</span>
								<span ng-switch-when="Global" translate>You serve in an Executive Team Leader’s office or on another team that works with countries in multiple Areas.</span>
								<span ng-switch-when="Executive" translate>You serve on the Executive Team.</span>
								<span ng-switch-default translate>Choose an option to see a description.</span>
							</p>

							<p ng-if="showHelp" class="help-block" translate>This defines how broad an area of responsibility you have or in which you serve.</p>
						</div>
					</div>

				</fieldset>
			</div>
		</ng-form>
	</div>
</div>
