<div>
	<div class="page-header">
		<div class="pull-right" ng-include="'buttons.html'"></div>
		<h1>
			<button type="button" class="btn btn-default" ui-sref="admin">
				<span class="glyphicon glyphicon-arrow-left"></span>
			</button>
			Add a Person
		</h1>
	</div>
	<form name="profileForm">
		<profile-form
			profile-countries="countries"
			profile-languages="languages"
			profile-show-help="false"
			profile-show-left-staff="true"
			ng-model="profile">
			<div class="form-horizontal well">
				<fieldset>
					<legend>Identity</legend>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="cas_username">Username</label>

						<div class="col-sm-8">
							<input type="email" class="form-control" id="cas_username" ng-model="profile.cas_username">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="key_guid">GUID</label>

						<div class="col-sm-8">
							<input type="text" class="form-control" id="key_guid" ng-model="profile.key_guid">
						</div>
					</div>
				</fieldset>
			</div>
		</profile-form>
	</form>
	<div class="row">
		<div class="col-sm-12">
			<div class="pull-right" ng-include="'buttons.html'"></div>
		</div>
	</div>
	<script type="text/ng-template" id="buttons.html">
		<div class="form-actions">
			<button type="button"
					class="btn btn-default"
					ng-click="resetForm()">Reset
			</button>
			<button type="button"
					class="btn btn-primary"
					ng-disabled="profileForm.$invalid"
					ng-click="saveProfile()">Save Person
			</button>
		</div>
	</script>
</div>
